/src/NGitVersion/Generated
/src/TestProject/CppCli/resource/GlobalAssemblyInfo.cpp
/src/TestProject/CppCli/resource/GlobalNativeAssemblyInfo.h
/src/TestProject/CppNative/resource/GlobalNativeAssemblyInfo.h
